/* Body Style */
body{
    background: -webkit-linear-gradient(white, rgb(203, 250, 250));
}

/* Wrapper styles */
#wrapper{
    margin: 50px;
    
}

/* Header text and background */
#headerDiv{
    text-align: center;
    height: 70px;
}

/* Profile Pic styling */
#profilePic{
    border: black solid 1px;
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer styling */
#footerDiv{
    margin-top: 4em;
    text-align: center;
}